# Include the README and LICENSE files
include README.md
include LICENSE
include NOTICE

# Include all files in the src directory that aren't automatically included
recursive-include src/veda_lib *.py